/* All styles for your Card Components live here */
.mainCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    
}
.banner {
    width: 76%;
    padding-bottom: 10px;
}
.cardContent {
display: flex;
flex-direction: column;
padding-top: 10px;
width: 76%;
}
.cardHeader {
 font-size: 20px;
 padding-bottom: 10px;
}
.cardPar {
    font-size: 16px;
    padding-bottom: 10px;

}
.cardWeb {
 font-size: 14px;
 color: lightgray;
}