/* All styles for your header Components live here */
.headercont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}
.imageHeader {
    display: flex;
    width: 40%;
}
.headercont2 {
    display: flex;
    flex-direction: column;

}
.headerParag {
    display: flex;
    padding-left: 15px;
}
